In [2]:
! pip install sqlalchemy pymysql
! pip install cryptography

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp310-cp310-win_amd64.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
      --------------------------------------- 0.0/2.1 MB 991.0 kB/s eta 0:00:03
     - -------------------------------------- 0.1/2.1 MB 1.2 MB/s eta 0:00:02
     ---- ----------------------------------- 0.2/2.1 MB 1.5 MB/s eta 0:00:02
     ------ --------------------------------- 0.3/2.1 MB 1.6 MB/s eta 0:00:02
     --------- ------------------------------ 0.5/2.1 MB 2.1 MB/s eta 0:00:01
     ----------- ---------------------------- 0.6/2.1 MB 2.1 MB/s eta 0:00:01
     --------------- ------------------------ 0.8/2.1 MB 2.5 MB/s eta 0:00:01
     ----------------- ---------------------- 0.9/2.1 MB 2.3 MB/s eta 0:00:01
     -------------------- ------------------- 1.1/2.1 MB 2.5 MB/s eta 0:00:01
     ------------------------ --------------- 1.3/2.1 MB 2.8 MB/s eta 0:00:01
     ----------------------------- ---------- 1.5/2.1 MB 2.9 MB/s eta 0:00:01
     ------------------------------- -------- 1.7/2.1 MB 2.9 MB/s eta 0:00:01
     ------------------------------------- -- 2.0/2.1 MB 3.1 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 3.1 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 2.9 MB/s eta 0:00:00
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
     ---------------------------------------- 45.0/45.0 kB 2.3 MB/s eta 0:00:00
Collecting greenlet>=1
  Downloading greenlet-3.2.3-cp310-cp310-win_amd64.whl (296 kB)
     ---------------------------------------- 0.0/296.6 kB ? eta -:--:--
     -------------------- ----------------- 163.8/296.6 kB 5.0 MB/s eta 0:00:01
     -------------------------------------- 296.6/296.6 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.13.2)
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.2.3 pymysql-1.1.1 sqlalchemy-2.0.41

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting cryptography
  Downloading cryptography-45.0.4-cp37-abi3-win_amd64.whl (3.4 MB)
     ---------------------------------------- 0.0/3.4 MB ? eta -:--:--
     ---------------------------------------- 0.0/3.4 MB ? eta -:--:--
      --------------------------------------- 0.1/3.4 MB 825.8 kB/s eta 0:00:05
      --------------------------------------- 0.1/3.4 MB 825.8 kB/s eta 0:00:05
     - -------------------------------------- 0.1/3.4 MB 731.4 kB/s eta 0:00:05
     - -------------------------------------- 0.1/3.4 MB 731.4 kB/s eta 0:00:05
     -- ------------------------------------- 0.2/3.4 MB 655.4 kB/s eta 0:00:05
     -- ------------------------------------- 0.2/3.4 MB 695.5 kB/s eta 0:00:05
     -- ------------------------------------- 0.2/3.4 MB 654.9 kB/s eta 0:00:05
     --- ------------------------------------ 0.3/3.4 MB 682.7 kB/s eta 0:00:05
     --- ------------------------------------ 0.3/3.4 MB 681.0 kB/s eta 0:00:05
     --- ------------------------------------ 0.3/3.4 MB 634.7 kB/s eta 0:00:05
     --- ------------------------------------ 0.3/3.4 MB 636.3 kB/s eta 0:00:05
     --- ------------------------------------ 0.3/3.4 MB 636.3 kB/s eta 0:00:05
     ---- ----------------------------------- 0.4/3.4 MB 655.4 kB/s eta 0:00:05
     ----- ---------------------------------- 0.5/3.4 MB 685.7 kB/s eta 0:00:05
     ----- ---------------------------------- 0.5/3.4 MB 685.7 kB/s eta 0:00:05
     ----- ---------------------------------- 0.5/3.4 MB 655.4 kB/s eta 0:00:05
     ------ --------------------------------- 0.5/3.4 MB 630.5 kB/s eta 0:00:05
     ------ --------------------------------- 0.5/3.4 MB 618.8 kB/s eta 0:00:05
     ------ --------------------------------- 0.6/3.4 MB 632.9 kB/s eta 0:00:05
     ------- -------------------------------- 0.6/3.4 MB 634.0 kB/s eta 0:00:05
     ------- -------------------------------- 0.6/3.4 MB 645.2 kB/s eta 0:00:05
     -------- ------------------------------- 0.7/3.4 MB 665.9 kB/s eta 0:00:05
     -------- ------------------------------- 0.7/3.4 MB 655.2 kB/s eta 0:00:05
     --------- ------------------------------ 0.8/3.4 MB 664.7 kB/s eta 0:00:04
     --------- ------------------------------ 0.8/3.4 MB 672.8 kB/s eta 0:00:04
     --------- ------------------------------ 0.8/3.4 MB 655.2 kB/s eta 0:00:04
     ---------- ----------------------------- 0.9/3.4 MB 671.9 kB/s eta 0:00:04
     ---------- ----------------------------- 0.9/3.4 MB 671.9 kB/s eta 0:00:04
     ---------- ----------------------------- 0.9/3.4 MB 663.1 kB/s eta 0:00:04
     ----------- ---------------------------- 0.9/3.4 MB 655.3 kB/s eta 0:00:04
     ----------- ---------------------------- 1.0/3.4 MB 655.2 kB/s eta 0:00:04
     ----------- ---------------------------- 1.0/3.4 MB 662.4 kB/s eta 0:00:04
     ------------ --------------------------- 1.0/3.4 MB 655.3 kB/s eta 0:00:04
     ------------ --------------------------- 1.1/3.4 MB 655.3 kB/s eta 0:00:04
     ------------ --------------------------- 1.1/3.4 MB 643.1 kB/s eta 0:00:04
     ------------- -------------------------- 1.1/3.4 MB 649.5 kB/s eta 0:00:04
     ------------- -------------------------- 1.1/3.4 MB 649.3 kB/s eta 0:00:04
     ------------- -------------------------- 1.2/3.4 MB 644.0 kB/s eta 0:00:04
     ------------- -------------------------- 1.2/3.4 MB 644.2 kB/s eta 0:00:04
     -------------- ------------------------- 1.2/3.4 MB 649.7 kB/s eta 0:00:04
     -------------- ------------------------- 1.3/3.4 MB 650.0 kB/s eta 0:00:04
     --------------- ------------------------ 1.3/3.4 MB 650.1 kB/s eta 0:00:04
     --------------- ------------------------ 1.3/3.4 MB 650.1 kB/s eta 0:00:04
     --------------- ------------------------ 1.3/3.4 MB 650.1 kB/s eta 0:00:04
     --------------- ------------------------ 1.3/3.4 MB 650.1 kB/s eta 0:00:04
     --------------- ------------------------ 1.3/3.4 MB 650.1 kB/s eta 0:00:04
     --------------- ------------------------ 1.3/3.4 MB 585.7 kB/s eta 0:00:04
     --------------- ------------------------ 1.3/3.4 MB 591.6 kB/s eta 0:00:04
     --------------- ------------------------ 1.4/3.4 MB 592.2 kB/s eta 0:00:04
     ---------------- ----------------------- 1.4/3.4 MB 585.0 kB/s eta 0:00:04
     ---------------- ----------------------- 1.4/3.4 MB 577.8 kB/s eta 0:00:04
     ---------------- ----------------------- 1.4/3.4 MB 576.1 kB/s eta 0:00:04
     ---------------- ----------------------- 1.4/3.4 MB 573.0 kB/s eta 0:00:04
     ----------------- ---------------------- 1.5/3.4 MB 570.9 kB/s eta 0:00:04
     ----------------- ---------------------- 1.5/3.4 MB 572.0 kB/s eta 0:00:04
     ----------------- ---------------------- 1.5/3.4 MB 570.2 kB/s eta 0:00:04
     ------------------ --------------------- 1.5/3.4 MB 571.6 kB/s eta 0:00:04
     ------------------ --------------------- 1.6/3.4 MB 572.4 kB/s eta 0:00:04
     ------------------ --------------------- 1.6/3.4 MB 574.0 kB/s eta 0:00:04
     ------------------- -------------------- 1.6/3.4 MB 572.1 kB/s eta 0:00:04
     ------------------- -------------------- 1.6/3.4 MB 569.9 kB/s eta 0:00:04
     ------------------- -------------------- 1.7/3.4 MB 574.0 kB/s eta 0:00:04
     ------------------- -------------------- 1.7/3.4 MB 574.0 kB/s eta 0:00:04
     ------------------- -------------------- 1.7/3.4 MB 574.0 kB/s eta 0:00:04
     ------------------- -------------------- 1.7/3.4 MB 574.0 kB/s eta 0:00:04
     ------------------- -------------------- 1.7/3.4 MB 574.0 kB/s eta 0:00:04
     -------------------- ------------------- 1.7/3.4 MB 541.4 kB/s eta 0:00:04
     -------------------- ------------------- 1.7/3.4 MB 542.3 kB/s eta 0:00:04
     -------------------- ------------------- 1.8/3.4 MB 538.3 kB/s eta 0:00:04
     -------------------- ------------------- 1.8/3.4 MB 533.7 kB/s eta 0:00:04
     -------------------- ------------------- 1.8/3.4 MB 534.9 kB/s eta 0:00:04
     --------------------- ------------------ 1.8/3.4 MB 531.6 kB/s eta 0:00:03
     --------------------- ------------------ 1.8/3.4 MB 535.1 kB/s eta 0:00:03
     --------------------- ------------------ 1.8/3.4 MB 530.8 kB/s eta 0:00:03
     --------------------- ------------------ 1.9/3.4 MB 529.6 kB/s eta 0:00:03
     ---------------------- ----------------- 1.9/3.4 MB 529.0 kB/s eta 0:00:03
     ---------------------- ----------------- 1.9/3.4 MB 529.9 kB/s eta 0:00:03
     ---------------------- ----------------- 1.9/3.4 MB 524.9 kB/s eta 0:00:03
     ----------------------- ---------------- 2.0/3.4 MB 525.4 kB/s eta 0:00:03
     ----------------------- ---------------- 2.0/3.4 MB 527.6 kB/s eta 0:00:03
     ----------------------- ---------------- 2.0/3.4 MB 527.0 kB/s eta 0:00:03
     ----------------------- ---------------- 2.0/3.4 MB 527.0 kB/s eta 0:00:03
     ----------------------- ---------------- 2.0/3.4 MB 527.0 kB/s eta 0:00:03
     ----------------------- ---------------- 2.0/3.4 MB 527.0 kB/s eta 0:00:03
     ----------------------- ---------------- 2.0/3.4 MB 527.0 kB/s eta 0:00:03
     ------------------------ --------------- 2.1/3.4 MB 504.2 kB/s eta 0:00:03
     ------------------------ --------------- 2.1/3.4 MB 505.2 kB/s eta 0:00:03
     ------------------------ --------------- 2.1/3.4 MB 505.2 kB/s eta 0:00:03
     ------------------------ --------------- 2.1/3.4 MB 500.2 kB/s eta 0:00:03
     ------------------------ --------------- 2.1/3.4 MB 497.6 kB/s eta 0:00:03
     ------------------------- -------------- 2.1/3.4 MB 497.5 kB/s eta 0:00:03
     ------------------------- -------------- 2.2/3.4 MB 496.9 kB/s eta 0:00:03
     ------------------------- -------------- 2.2/3.4 MB 498.5 kB/s eta 0:00:03
     ------------------------- -------------- 2.2/3.4 MB 497.4 kB/s eta 0:00:03
     -------------------------- ------------- 2.2/3.4 MB 501.3 kB/s eta 0:00:03
     -------------------------- ------------- 2.3/3.4 MB 498.3 kB/s eta 0:00:03
     -------------------------- ------------- 2.3/3.4 MB 498.3 kB/s eta 0:00:03
     --------------------------- ------------ 2.3/3.4 MB 499.3 kB/s eta 0:00:03
     --------------------------- ------------ 2.3/3.4 MB 495.3 kB/s eta 0:00:03
     --------------------------- ------------ 2.3/3.4 MB 494.3 kB/s eta 0:00:03
     --------------------------- ------------ 2.4/3.4 MB 495.3 kB/s eta 0:00:03
     ---------------------------- ----------- 2.4/3.4 MB 495.2 kB/s eta 0:00:03
     ---------------------------- ----------- 2.4/3.4 MB 496.8 kB/s eta 0:00:02
     ---------------------------- ----------- 2.4/3.4 MB 496.3 kB/s eta 0:00:02
     ----------------------------- ---------- 2.5/3.4 MB 496.2 kB/s eta 0:00:02
     ----------------------------- ---------- 2.5/3.4 MB 496.2 kB/s eta 0:00:02
     ----------------------------- ---------- 2.5/3.4 MB 497.6 kB/s eta 0:00:02
     ------------------------------ --------- 2.5/3.4 MB 498.5 kB/s eta 0:00:02
     ------------------------------ --------- 2.6/3.4 MB 500.0 kB/s eta 0:00:02
     ------------------------------ --------- 2.6/3.4 MB 500.9 kB/s eta 0:00:02
     ------------------------------ --------- 2.6/3.4 MB 500.9 kB/s eta 0:00:02
     ------------------------------- -------- 2.6/3.4 MB 496.4 kB/s eta 0:00:02
     ------------------------------- -------- 2.7/3.4 MB 495.9 kB/s eta 0:00:02
     ------------------------------- -------- 2.7/3.4 MB 495.9 kB/s eta 0:00:02
     ------------------------------- -------- 2.7/3.4 MB 497.2 kB/s eta 0:00:02
     -------------------------------- ------- 2.7/3.4 MB 496.7 kB/s eta 0:00:02
     -------------------------------- ------- 2.7/3.4 MB 496.7 kB/s eta 0:00:02
     -------------------------------- ------- 2.7/3.4 MB 496.7 kB/s eta 0:00:02
     -------------------------------- ------- 2.7/3.4 MB 496.7 kB/s eta 0:00:02
     -------------------------------- ------- 2.7/3.4 MB 496.7 kB/s eta 0:00:02
     -------------------------------- ------- 2.7/3.4 MB 496.7 kB/s eta 0:00:02
     --------------------------------- ------ 2.8/3.4 MB 486.7 kB/s eta 0:00:02
     --------------------------------- ------ 2.8/3.4 MB 483.2 kB/s eta 0:00:02
     --------------------------------- ------ 2.8/3.4 MB 483.2 kB/s eta 0:00:02
     --------------------------------- ------ 2.9/3.4 MB 479.5 kB/s eta 0:00:02
     --------------------------------- ------ 2.9/3.4 MB 479.5 kB/s eta 0:00:02
     --------------------------------- ------ 2.9/3.4 MB 479.5 kB/s eta 0:00:02
     ---------------------------------- ----- 2.9/3.4 MB 475.1 kB/s eta 0:00:02
     ---------------------------------- ----- 2.9/3.4 MB 473.1 kB/s eta 0:00:02
     ---------------------------------- ----- 2.9/3.4 MB 473.1 kB/s eta 0:00:02
     ---------------------------------- ----- 2.9/3.4 MB 471.7 kB/s eta 0:00:01
     ---------------------------------- ----- 2.9/3.4 MB 467.5 kB/s eta 0:00:01
     ---------------------------------- ----- 3.0/3.4 MB 466.0 kB/s eta 0:00:01
     ----------------------------------- ---- 3.0/3.4 MB 465.8 kB/s eta 0:00:01
     ----------------------------------- ---- 3.0/3.4 MB 465.8 kB/s eta 0:00:01
     ----------------------------------- ---- 3.0/3.4 MB 464.0 kB/s eta 0:00:01
     ----------------------------------- ---- 3.0/3.4 MB 464.0 kB/s eta 0:00:01
     ----------------------------------- ---- 3.0/3.4 MB 460.5 kB/s eta 0:00:01
     ----------------------------------- ---- 3.0/3.4 MB 457.7 kB/s eta 0:00:01
     ----------------------------------- ---- 3.0/3.4 MB 458.6 kB/s eta 0:00:01
     ------------------------------------ --- 3.1/3.4 MB 457.4 kB/s eta 0:00:01
     ------------------------------------ --- 3.1/3.4 MB 455.7 kB/s eta 0:00:01
     ------------------------------------ --- 3.1/3.4 MB 455.6 kB/s eta 0:00:01
     ------------------------------------ --- 3.1/3.4 MB 454.0 kB/s eta 0:00:01
     ------------------------------------- -- 3.1/3.4 MB 455.8 kB/s eta 0:00:01
     ------------------------------------- -- 3.2/3.4 MB 454.2 kB/s eta 0:00:01
     ------------------------------------- -- 3.2/3.4 MB 455.1 kB/s eta 0:00:01
     ------------------------------------- -- 3.2/3.4 MB 454.5 kB/s eta 0:00:01
     ------------------------------------- -- 3.2/3.4 MB 455.3 kB/s eta 0:00:01
     -------------------------------------- - 3.2/3.4 MB 455.7 kB/s eta 0:00:01
     -------------------------------------- - 3.3/3.4 MB 454.6 kB/s eta 0:00:01
     -------------------------------------- - 3.3/3.4 MB 453.9 kB/s eta 0:00:01
     -------------------------------------- - 3.3/3.4 MB 454.8 kB/s eta 0:00:01
     ---------------------------------------  3.4/3.4 MB 456.3 kB/s eta 0:00:01
     ---------------------------------------- 3.4/3.4 MB 452.3 kB/s eta 0:00:00
Requirement already satisfied: cffi>=1.14 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from cffi>=1.14->cryptography) (2.22)
Installing collected packages: cryptography
Successfully installed cryptography-45.0.4

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
# Create database connection using SQLAlchemy
# engine = create_engine('mysql+pymysql://your_username:your_password@localhost/your_database')

engine = create_engine('mysql+pymysql://root:password@localhost:3306/food_app_db')

In [5]:
df=pd.read_csv('c:/Users/hp/OneDrive/Documents/projects/sql case study/orders_data.csv')

In [7]:
df.to_sql("orders_data", con=engine, index=False, if_exists="replace")

1000

In [10]:
# 1. Total revenue
print("1. Total Revenue:")
print(pd.read_sql("""
SELECT SUM(total_amount) AS total_revenue
FROM orders_data
""", con=engine))

1. Total Revenue:
   total_revenue
0      884048.12

In [9]:
# 2. Top categories by revenue
print("\n2. Revenue by Item Category:")
print(pd.read_sql("""
SELECT item_category, SUM(total_amount) AS revenue
FROM orders_data
GROUP BY item_category
ORDER BY revenue DESC
""", con=engine))

2. Revenue by Item Category:
  item_category    revenue
0       Chinese  191240.96
1        Indian  177996.74
2    Vegetarian  174332.21
3     Fast Food  172124.47
4       Italian  168353.74

In [11]:
# 3. Orders by Day of Week
print("\n3. Orders by Weekday:")
print(pd.read_sql("""
SELECT DAYOFWEEK(order_date) AS weekday, COUNT(*) AS total_orders
FROM orders_data
GROUP BY weekday
ORDER BY total_orders DESC
""", con=engine))

3. Orders by Weekday:
   weekday  total_orders
0        2           152
1        5           151
2        6           148
3        3           143
4        7           142
5        4           138
6        1           126

In [12]:
# 4. Offer usage %
print("\n4. % Orders With Offers:")
print(pd.read_sql("""
SELECT 
  ROUND(100 * SUM(CASE WHEN offer_applied = 1 THEN 1 ELSE 0 END) / COUNT(*), 2) AS percent_with_offer
FROM orders_data
""", con=engine))

4. % Orders With Offers:
   percent_with_offer
0                 0.0

In [15]:
# 5. Top 10 repeat customers
print("\n5. Top 10 Repeat Customers:")
print(pd.read_sql("""
SELECT user_id, COUNT(*) AS total_orders, SUM(total_amount) AS total_spent
FROM orders_data
GROUP BY user_id
HAVING total_orders > 1
ORDER BY total_spent DESC
LIMIT 10
""", con=engine))

5. Top 10 Repeat Customers:
Empty DataFrame
Columns: [user_id, total_orders, total_spent]
Index: []

In [14]:
print(pd.read_sql("SHOW COLUMNS FROM orders_data;", con=engine))

                 Field    Type Null Key Default Extra
0              user_id    text  YES        None
1             order_id    text  YES        None
2           order_date    text  YES        None
3            item_name    text  YES        None
4        item_category    text  YES        None
5                price  double  YES        None
6             quantity  bigint  YES        None
7        offer_applied    text  YES        None
8                 city    text  YES        None
9         payment_mode    text  YES        None
10  delivery_time_mins  bigint  YES        None
11              rating  double  YES        None
12        total_amount  double  YES        None
13      pre_post_offer    text  YES        None

In [16]:
# 6. Avg order value by offer
print("\n6. Average Order Value by Offer:")
print(pd.read_sql("""
SELECT offer_applied, ROUND(AVG(total_amount), 2) AS avg_order_value
FROM orders_data
GROUP BY offer_applied
""", con=engine))

6. Average Order Value by Offer:
  offer_applied  avg_order_value
0           Yes           909.87
1            No           858.33

In [17]:
# 7. Avg quantity per item
print("\n7. Avg Quantity per Category:")
print(pd.read_sql("""
SELECT item_category, ROUND(AVG(quantity), 2) AS avg_quantity
FROM orders_data
GROUP BY item_category
""", con=engine))

7. Avg Quantity per Category:
  item_category  avg_quantity
0        Indian          2.91
1    Vegetarian          2.90
2       Italian          2.86
3       Chinese          3.04
4     Fast Food          2.97

In [18]:
# 8. Avg rating by category
print("\n8. Avg Rating by Category:")
print(pd.read_sql("""
SELECT item_category, ROUND(AVG(rating), 2) AS avg_rating
FROM orders_data
GROUP BY item_category
""", con=engine))

8. Avg Rating by Category:
  item_category  avg_rating
0        Indian        3.01
1    Vegetarian        2.98
2       Italian        2.90
3       Chinese        2.96
4     Fast Food        3.13

In [19]:
# 9. Low-rated categories (<3)
print("\n9. Low Rated Categories (<3):")
print(pd.read_sql("""
SELECT item_category, AVG(rating) AS avg_rating
FROM orders_data
GROUP BY item_category
HAVING avg_rating < 3
""", con=engine))

9. Low Rated Categories (<3):
  item_category  avg_rating
0    Vegetarian    2.982249
1       Italian    2.901840
2       Chinese    2.958333

In [21]:
# 10. Monthly trend (orders + revenue)
print("\n10. Monthly Orders and Revenue:")
print(pd.read_sql("""
    SELECT DATE_FORMAT(order_date, '%%Y-%%m') AS month, 
           COUNT(*) AS orders, 
           SUM(total_amount) AS revenue
    FROM orders_data
    GROUP BY month
    ORDER BY month
""", con=engine))

10. Monthly Orders and Revenue:
      month  orders   revenue
0   2024-04       8   7006.45
1   2024-05      88  82171.14
2   2024-06      65  53792.04
3   2024-07      82  71276.15
4   2024-08     103  89904.85
5   2024-09      76  70261.81
6   2024-10      99  89615.73
7   2024-11      86  82609.68
8   2024-12      83  66760.99
9   2025-01      73  59126.42
10  2025-02      65  59367.87
11  2025-03      90  85450.24
12  2025-04      82  66704.75

In [22]:
# 11. Orders before vs after offer (example: 2023-10-01)
print("\n11. Before vs After Offer Launch:")
print(pd.read_sql("""
SELECT 
  CASE WHEN order_date < '2023-10-01' THEN 'Before' ELSE 'After' END AS period,
  COUNT(*) AS orders,
  SUM(total_amount) AS revenue
FROM orders_data
GROUP BY period
""", con=engine))

11. Before vs After Offer Launch:
  period  orders    revenue
0  After    1000  884048.12

In [23]:
# 12. Top item categories by quantity sold
print("\n12. Top Item Categories by Quantity:")
print(pd.read_sql("""
SELECT item_category, SUM(quantity) AS total_quantity
FROM orders_data
GROUP BY item_category
ORDER BY total_quantity DESC
""", con=engine))

12. Top Item Categories by Quantity:
  item_category  total_quantity
0       Chinese           624.0
1    Vegetarian           608.0
2       Italian           577.0
3        Indian           571.0
4     Fast Food           556.0

In [25]:
# 13. Top customers by average spend per order
print("\n13. High Value Customers (Avg Spend):")
print(pd.read_sql("""
SELECT user_id, ROUND(AVG(total_amount), 2) AS avg_order_value
FROM orders_data
GROUP BY user_id
ORDER BY avg_order_value DESC
LIMIT 10
""", con=engine))

13. High Value Customers (Avg Spend):
                                user_id  avg_order_value
0  63295046-1665-4766-a0cc-f0ced116ba62          2472.75
1  d7bbbaef-771e-429c-9849-a45c4ca44579          2455.00
2  eaec6535-2a10-4f0c-bb86-810f1c0c554c          2446.35
3  1791c9dc-5301-4885-ae5d-8ce6b1459cfa          2428.50
4  2d51f418-0cc3-411e-810e-ab103a57063a          2421.05
5  a91e219f-d63c-48ff-9319-0c3d4b9dc709          2409.80
6  9aa56de6-cd34-4234-a9fb-23d9cd6a049b          2400.30
7  46c87f30-2c0c-4e59-9ef9-75dac4a05422          2387.15
8  8412fde6-2d59-4fb9-95e5-a5f748dece0a          2385.80
9  526cdfc3-84ff-4e23-ba6f-efa7aff05100          2381.60

In [26]:
# 14. Cities with most orders
print("\n14. Orders by City:")
print(pd.read_sql("""
SELECT city, COUNT(*) AS total_orders
FROM orders_data
GROUP BY city
ORDER BY total_orders DESC
""", con=engine))

14. Orders by City:
          city  total_orders
0     New York           205
1      Houston           202
2      Chicago           201
3  Los Angeles           196
4      Phoenix           196

In [27]:
# 15. Category with high sales but low average rating
print("\n15. High Revenue, Low Rating Categories:")
print(pd.read_sql("""
SELECT item_category, SUM(total_amount) AS total_revenue, ROUND(AVG(rating), 2) AS avg_rating
FROM orders_data
GROUP BY item_category
HAVING total_revenue > 10000 AND avg_rating < 3
""", con=engine))

15. High Revenue, Low Rating Categories:
  item_category  total_revenue  avg_rating
0    Vegetarian      174332.21        2.98
1       Italian      168353.74        2.90
2       Chinese      191240.96        2.96